html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Montserrat', sans-serif;
}

img{
    width: 100%;
}

section{
    padding: 100px 0;
    background: #F2F1EC;
}

.section_title{
    margin-bottom: 30px;
}

.section_title h2{
    position: relative;
    text-align: center;
    color: #FF914D;
    font-size: 30px;
    transition: all .2s ease-in;
}

.section_title h2:hover{
    background: #FF914D;
    color: #F2F1EC;
}
/* LOGO */
.load{
    position: absolute;
    transform: translate(-50%,-50%);
    width: 50px;
    height: 50px;
    margin-top: 25px;
    margin-left: -12px;
}

.load hr{
    border: 0 ; 
    margin: 0; 
    width: 20%;
    height: 20%;
    border-radius:  -50%;
    position:absolute; 
    animation: spin 2s ease infinite;
    
}

.load :first-child{
    background-color: #0A7C6B;
    animation-delay: -1.5s;

}

.load :nth-child(2){
    background-color: #0A7C6B;
    animation-delay: -1s;
}
.load :nth-child(3){
    background-color: #0A7C6B;
    animation-delay: -0.5s;
}

.load :last-child {
    background-color: #0A7C6B;
}
@keyframes spin {
    0%, 100%{

        transform: translate(0);
    }
    25%{
        transform: translate(160%);
    }
    50%{
        transform: translate(160%, 160%);
    }   
    75%{
        transform: translate(0,160%);
    }
}

/* HEADER */

header{
    background: #F2F1EC;
    border-bottom: 1px solid rgba(238,238,238,0.801);
    position: fixed;
    width: 100%;
    z-index: 5;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    padding: 20px 0;
}
.nav_links{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.menu{
    margin-left: 15px;
    color: #FF914D;
    padding: 5px 15px;
    font-weight: bold;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    position:relative;
}

.menu::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #0A7C6B;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.menu::after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 2px;
    background-color: #0A7C6B;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.menu:hover::before{
    width: 100%;
}
.menu:hover::after{
    width: 100%;
}
.logo h2 a{
    color: #FF914D;
    text-transform: uppercase;
}

/*  ANASAYFA  */

.inner_anasayfa{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px auto;
    width: 90%;
    color: #FF914D;
}
.child_anasayfa-1{
    margin-top: 70px;
    flex-basis: 50%;
    /*Responsive tasarimda mobil goruntuyu sagliyor.*/
}
.child_anasayfa-2{
    flex-basis: 50%;
    /*Responsive tasarimda mobil goruntuyu sagliyor.*/
}

.child_anasayfa-1 h1{
    font-size: 40px;
    color: #FF914D;
}
.span_child{
    color: #0A7C6B;
}


.btn{
    background: #FF914D;
    padding: 12px 28px;
    border-radius: 20px;
    color: #fff;
    border: 1px solid #FF914D;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s ease;
}

.btn:hover{
    background: transparent;
    color: #FF914D;
    letter-spacing: 2px;
}

/*YAZILIMLAR*/
 
.inner_software{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
}

.inner_software_child{
    flex-basis: 31%;
    color: #fff;
    padding: 60px 20px;
    background: #FF914D;
    border-radius: 10px;
    border: 0px solid transparent;
    transition: all .2s ease-in;
    position: relative;
}

.inner_software_child:hover{
    color: #FF914D;
    background: #fff;
    border: 2px solid #FF914D;
}

.inner_software_child .icon{
    font-size: 25px;
}
.software_icon{
    width: 100px;
    height: 40px;
    position: absolute;
    top: 0; 
    right: 0;
    background: #fff;
    border-radius: 10px;
    
}
.java{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px; 
    right: 10px; 
       
}
.inner_software_child h3{
    font-size: 20px;
    margin: 5px 0;
}

.inner_software_child p{
    font-size: 16px;
}

/*PROJELER*/
.projects{
    background-color: #FF914D;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    padding: 10px 0;
}
/*TODO:Burada h2 duzenlemesi yapilacak*/

.projects_title{
    color: #fff;
    padding: 5px 15px;
}

.projects_title h2{
    margin: 0px 25px;
    margin-top: 130px;
}

.projects_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.most_project {
    background: #fff;
    padding: 160px 20px;
    border-radius: 15px;
    margin: 0px 25px;
    margin-top: 80px;
}

.project_box{
    background: #fff;
    margin: 30px 25px;
    padding: 120px 20px;
    border-radius: 15px;
    position: relative;
}

.left {
}

.center{
}

.right{
}

.btn_project {
    background: transparent;
    color: #FF914D;
    font-size: 30px;
    border: none;
    cursor: pointer;
    position: absolute; 
    top: 10px; 
    right: 10px; 
}

